<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login Page</title>
    <div th:insert="~{header :: head}"></div>
</head>
<body>
<div th:insert="~{header :: navbar}"></div>

<script src="/js/game.js"></script>
<div class="container">
    <div class="row" style="background-color: rgba(0,0,0,0.5) !important">
        <div class="col-12 text-center">
            <div class="btn-group-vertical" style="margin: 50px">
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" onclick="SingleGame(11)" class="btn btn btn-dark"><img id="11" name="0"  src="img/cell.svg" height="100px" width="100px"/></button>
                    <button type="button" onclick="SingleGame(12)"  class="btn btn btn-dark"><img id="12" name="0" src="img/cell.svg" height="100px" width="100px"/></button>
                    <button type="button" onclick="SingleGame(13)"  class="btn btn btn-dark"><img id="13" name="0" src="img/cell.svg" height="100px" width="100px"/></button>
                </div>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" onclick="SingleGame(21)"  class="btn btn btn-dark"><img id="21" name="0" src="img/cell.svg" height="100px" width="100px"/></button>
                    <button type="button" onclick="SingleGame(22)"  class="btn btn btn-dark"><img id="22" name="0" src="img/cell.svg" height="100px" width="100px"/></button>
                    <button type="button" onclick="SingleGame(23)"  class="btn btn btn-dark"><img id="23" name="0" src="img/cell.svg" height="100px" width="100px"/></button>
                </div>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" onclick="SingleGame(31)"  class="btn btn btn-dark"><img id="31" name="0" src="img/cell.svg" height="100px" width="100px"/></button>
                    <button type="button" onclick="SingleGame(32)"  class="btn btn btn-dark"><img id="32" name="0" src="img/cell.svg" height="100px" width="100px"/></button>
                    <button type="button" onclick="SingleGame(33)"  class="btn btn btn-dark"><img id="33" name="0" src="img/cell.svg" height="100px" width="100px"/></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{footer :: footer-navbar}"></div>
</body>
</html>